{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <div class="text-sm breadcrumbs">
    <ul>
      <li>
        <a href="{% url 'inventory:my-products' %}">My Products</a>
      </li>
      <li>
        <a>Create</a>
      </li>
    </ul>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Is Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td>
              <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img src="{{ product.default_image.url }}"
                         alt="Avatar Tailwind CSS Component" />
                  </div>
                </div>
                <div>
                  <div class="font-bold">{{ product.name }}</div>
                  <div class="text-sm opacity-50">{{ product.web_id }}</div>
                </div>
              </div>
            </td>
            <td>
              <div>{{ product.category }}</div>
            </td>
            <td>
              <p>
                {% if product.is_active %}
                  <i class="bi bi-check-circle"></i>
                {% else %}
                  <i class="bi bi-x-circle"></i>
                {% endif %}
              </p>
            </td>
            <th>
              <a class="btn btn-ghost btn-xs"
                 href="{% url 'inventory:product-inventories' web_id=product.web_id %}"><i class="bi bi-eye"></i></a>
            </th>
          </tr>
        {% endfor %}
      </tbody>
      <!-- foot -->
      {% comment %} <tfoot>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Job</th>
          <th>Favorite Color</th>
          <th></th>
        </tr>
      </tfoot> {% endcomment %}
    </table>
  </div>
{% endblock %}
