{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <div class="text-sm breadcrumbs">
    <ul>
      <li>
        <a href="{% url 'forum:thread-list' %}">Threads</a>
      </li>
      <li>
        <a href="{% url 'forum:thread-create' %}">Create Thread</a>
      </li>
    </ul>
  </div>
  <br />
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for thread in object_list %}
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="{{ thread.image.url }}" alt="Image" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{ thread.slug }}</div>
                <div class="text-sm opacity-50">{{ thread.description }}</div>
              </div>
            </div>
          </td>
          <th>
            <a href="{% url 'forum:thread-detail' slug=thread.slug %}"
               class="btn btn-ghost btn-xs">View</a>
            {% if user.is_superuser %}
              {% comment %} <a href="{% url 'forum:thread-update' slug=thread.slug %}" class="btn btn-ghost btn-xs">Edit</a> {% endcomment %}
              <a href="{% url 'forum:thread-delete' slug=thread.slug %}"
                 class="btn btn-ghost btn-xs">Delete</a>
            {% endif %}
          </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
