{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
  <div class="flex justify-center">
    <div class="w-full max-w-xs">
      <form class="bg-base-200 shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{form.errors}}
        <div class="mb-4">
          <label class="block text-gray-400 text-sm font-bold mb-2" for="username">Username</label>
          <input id="username" name="username" type="text" placeholder="Username" class="input input-bordered input-accent w-full max-w-xs" />
        </div>
        <div class="mb-6">
          <label class="block text-gray-400 text-sm font-bold mb-2" for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="******************" class="input input-bordered input-accent w-full max-w-xs" />
        </div>
        <div class="flex items-center justify-between">
          <button class="btn btn-accent" type="submit">Sign In</button>
          <a class="btn" href="#">Back</a>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">IDK</p>
    </div>
  </div>
{% endblock %}
